name: Publish PowerShell Module

on:
  push:
    branches:
      - main

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Update module version
        shell: pwsh
        run: |
          $modulePath = './PowerDataOps.psd1'
          $module = Import-PowerShellDataFile -Path $modulePath
          $currentVersion = [version]$module.ModuleVersion
          $newVersion = [version]::new($currentVersion.Major, $currentVersion.Minor, $currentVersion.Build, $currentVersion.Revision + 1)
          Write-Host "New Module Version = $($newVersion.ToString())"
          Update-ModuleManifest -Path $modulePath -ModuleVersion $newVersion.ToString()

      - name: Publish to PSGallery
        shell: pwsh
        run: |
          Publish-Module -Path "./" -NuGetApiKey "${{ secrets.PS_GALLERY_KEY }}" -SkipAutomaticTags -Verbose
        env:
          PS_GALLERY_KEY: ${{ secrets.PS_GALLERY_KEY }}
